#cookie {
    max-width: 420px;
    width: 100%;
    cursor: pointer;
    transition: .2s transform;
    user-select: none;
}
#cookie:hover {
    transform: scale(1.1);
    user-select: none;
}
#cookie:active {
    transition: .04s;
    transform: scale(0.98);
}
.mn{
    text-align: center;
    font-family:'Oswald', sans-serif;
    font-size: 200%;
    color: rgb(255, 0, 0);
}
body{
  margin: 0;
    background-image:url(https://img.freepik.com/premium-vector/cookie-cartoon-character-seamless-pattern-yellow-background-pixel-style_618978-1651.jpg);
}
#clickupgrade{
    font-size: 24px;
    color: aqua;
    background-color: black;
    cursor: pointer;
    transition: .3s ease;
}
#clickupgrade:hover{
    transform: scale(1.1);
    transition: .5s;

}

#autoclick{
    color: black;
    background-color: aqua;
    font-size: 24px;

}
#autoclick:hover{
    transform: scale(1.1);
    transition: .5s;

}

#counter{
    background-color: black;
}
